body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
header{
width: fit-content;
align-items: left;
background-color: #000000;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    z-index: 1000;
}
#navbar a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;

}
main{
    margin-top: 50px;
    margin-left: 10px;
    
}
#bg{
    position: relative;
    height: 300px;

    
}
#person_img{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 00%;
    transform: translateX(-50%);

}
#college{
    width: 100%;
    height: auto;

}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table,td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
}
#about{
    background-origin: padding-box;
    position: relative;
    
}

footer{
    background-color: #333;
    margin-bottom: 0px;
    padding-bottom: 0px 0;
    
}
button{
    padding: 10px 10px;
            font-size: 16px;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            color: white;
            background-color: #747a80;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            text-align: center;
            text-decoration: solid;
            display: inline-block;
}